﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="menu.ascx.cs" Inherits="final_project.menu" %>
<asp:SqlDataSource runat="server" ID="pages_select" ConnectionString ="<%$ connectionStrings:final_sql_con %>">
</asp:SqlDataSource>
<span><a href ="main_page">Main Page</a></span>
<ul runat="server" id="menucontainer">
               

</ul>